* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

html, body {
    height: 100vh;
}
body {
    border: 0;
    overflow: hidden;
}

h1, ul, li {
    border: 0;
}

#organizer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#social-area {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
#social-area a {
    margin: 10px 20px;
    width: 10%;

    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

#content {
    height: 100%;
    margin-top: 20px;
    display: flex;
}

#menu-area {
    margin: 20px;
    float: left;
    width: 20%;
}
#menu-area h1 {
    margin: 10px;
    text-align: center;
}
#menu-area hr {
    margin: 10px;
}

#trabalho {
    margin: 10px;
    text-align: center;
}

li {
    list-style-type: none;
}

#main-area {
    margin: 20px 20px 20px 0px;
    width: 100%;
}