* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

html, body {
    height: 100vh;
}
body {
    border: 0; /* DELETE */
    overflow: hidden;
    /* background-color: gray; */
}

h1, ul, li, p { /* DELETE */
    border: 0;
}

#organizer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#social-area {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
#social-area a {
    margin: 10px 20px;
    width: 10%;

    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
.work-link {
    margin-left: auto!important;
}

#content {
    height: 100%;
    display: flex;

    overflow: hidden;
}

#menu-area {
    margin: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    border-radius: 20px;

    overflow: auto;
}
#menu-area h1 {
    font-size: 2.2em;
    margin: 10px;
    text-align: center;

    font-family: 'Kaushan Script', cursive;
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Kalam', cursive; */
}
hr {
    margin: 0px 20px;
}

ul {
    margin: 10px;
    text-align: center;

    font-size: 1.1em;
}

li {
    list-style-type: none;
    margin: 8px;
}

#main-area {
    margin: 20px 20px 20px 0px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;

    overflow: auto;
}

article {
    display: flex;
    text-align: center;
    align-items: center;
    flex-flow: column;
    margin: auto;
    margin-top: 20px;
    width: 90%;
}