:root {
  --color-primary: white;
  --bg-primary: #0c0d10;
  --bg-secondary: #181a1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-primary);
  background-color: var(--bg-primary);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page__template {
  display: grid;
  grid-template-areas: 'header header header' 'sidenav content content' 'sidenav content content';
  grid-template-rows: 50px auto auto;
  grid-template-columns: clamp(150px, 20%, 250px) auto auto;
  height: 100vh;
}

.page__header {
  grid-area: header;
  align-self: center;
  background-color: var(--bg-secondary);
  height: 100%;
}

.page__sidenav {
  grid-area: sidenav;
  background-color: var(--bg-secondary);
}