/* 282c34 - maketintsandshades */
:root {
  --txt-primary: white;
  --txt-neon: #45f3fe;
  --bg-primary: #0c0d10;
  --bg-secondary: #181a1f;
  --pg-padding: 20px;
  --header-height: 50px;
  --close-bar-padding: 12px; /* 50px - 27px = 23px / 2 = 11.5 */
  --anim-speed: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--txt-primary);
  background-color: var(--bg-primary);
}

.page__template {
  display: grid;
  grid-template-areas: 'sidenav header' 'sidenav content';
  grid-template-rows: var(--header-height) auto;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

/* .page__template.open__sidebar {
  grid-template-columns: clamp(150px, 20%, 250px) auto;
} */

/* .page__template.close__sidebar {
  grid-template-columns: var(--header-height) auto;
} */

/* HEADER */
.page__header {
  grid-area: header;
  display: flex;
  align-self: center;
  background-color: var(--bg-secondary);
  height: 100%;
  align-items: center;
  padding: 0 var(--pg-padding) 0 var(--close-bar-padding);
  z-index: 1;
  transition: 500ms ease;
}

.close__sidebar > .page__header {
  margin-left: -50px;
}

/* -- HAMBURGUER ICON -- */
.menu-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 3em;
  height: 3em;
  position: absolute;
  left: calc((50px - 3em)/2);
  top: calc((50px - 3em)/2);
}

.hamburg__icon {
  --hamburg-color: white;
}

.hamburg__icon .line {
  transform-origin: center;
  transition: var(--anim-speed);
}

.hamburg__icon.open :is(.top, .bot) {
  y: 45; /* Propriedade de svg */
}

.hamburg__icon.open .top {
  rotate: 135deg;
}

.hamburg__icon.open .bot {
  rotate: -135deg;
}

.hamburg__icon.open .mid {
  opacity: 0;
  scale: 0;
  transition: 500ms;
}

/* SIDEBAR */
.page__sidenav {
  grid-area: sidenav;
  background-color: var(--bg-secondary);
  position: relative;
  display: grid;
  place-content: center;
  gap: 30px;
  transition: 500ms ease;
  width: clamp(200px, 20vw, 270px);
}

.page__sidenav.close {
  /* transform: translateX(calc(var(--header-height) - 100%)); */
  width: var(--header-height);
  /* animation: sidenav_items_transition 500ms forwards; */
}

.page__sidenav.close .nav__txt,
.page__sidenav.close .profile__img {
  display: none;
}

.page__sidenav.open svg {
  display: none;
}

.page__sidenav.close svg {
  animation: show_nav_icons 500ms forwards;
}

@keyframes show_nav_icons {
  0%, 90% {
    opacity: 0;
  }
}

/* @keyframes sidenav_items_transition {
  80%, 100% {
    place-content: flex-start flex-end;
    padding-right: var(--close-bar-padding);
    padding-top: calc(var(--header-height) + 10px);
  }
} */

.profile__img {
  background-color: aliceblue;
  width: 50%;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: calc(var(--header-height) + 20px);
  transform: translateX(-50%);
  border-radius: 50%;
}

.social__links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: calc(var(--pg-padding) / 2);
}

.social__links a {
  font-size: 1.6rem;
  color: var(--txt-primary);
  transition: transform .5s
}

.social__links a:hover {
  transform: scale(1.2);
}

.nav {
  color: var(--txt-primary);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__active {
  color: var(--txt-neon);
}

/* CONTENT */
.page__content {
  grid-area: content;;
}

/* .close__sidebar .page__content {
  transform: translateX(-150px);
} */