/* 282c34 - maketintsandshades */
:root {
  --txt-primary: white;
  --txt-neon: #45f3fe;
  --bg-primary: #0c0d10;
  --bg-secondary: #181a1f;
  --pg-padding: 20px;
  --header-height: 50px;
  --anim-speed: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--txt-primary);
  background-color: var(--bg-primary);
}

.page__template {
  display: grid;
  grid-template-areas: 'sidenav header header' 'sidenav content content' 'sidenav content content';
  grid-template-rows: var(--header-height) auto auto;
  height: 100vh;
}

.page__template.open__sidebar {
  grid-template-columns: clamp(150px, 20%, 250px) auto auto;
}

.page__template.close__sidebar {
  grid-template-columns: var(--header-height) auto auto;
}

/* HEADER */
.page__header {
  grid-area: header;
  display: flex;
  align-self: center;
  background-color: var(--bg-secondary);
  height: 100%;
  align-items: center;
  padding: 0 var(--pg-padding);
}

/* -- HAMBURGUER ICON -- */
.hamburg__icon {
  aspect-ratio: 5/3;
  width: 2em;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.stick {
  width: inherit;
  height: 10%;
  background-color: white;
  border-radius: 5px;
  position: absolute;
}

.top {
  top: 0;
}

.hamburg__icon.open > .top {
  animation: top-rotate var(--anim-speed) forwards;
}

.hamburg__icon.close > .top {
  animation: top-rotate-reverse var(--anim-speed) forwards;
}

@keyframes top-rotate {
  0% {
    top: 0;
  }
  40% {
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(135deg);
  }
}

@keyframes top-rotate-reverse {
  100% {
    top: 0;
  }
  40% {
    top: 50%;
  }
  0% {
    top: 50%;
    transform: rotate(135deg);
  }
}

.mid {
  top: 50%;
}

.hamburg__icon.open > .mid {
  animation: mid-fade-out var(--anim-speed) forwards;
}

.hamburg__icon.close > .mid {
  animation: mid-fade-in var(--anim-speed) forwards;
}

@keyframes mid-fade-out {
  0% {
    transform: scale(1);
  }
  50%, 100% {
    transform: scale(0);
  }
}

@keyframes mid-fade-in {
  0%, 50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.bot {
  top: 100%;
}

.hamburg__icon.open > .bot {
  animation: bot-rotate var(--anim-speed) forwards;
}

.hamburg__icon.close > .bot {
  animation: bot-rotate-reverse var(--anim-speed) forwards;
}

@keyframes bot-rotate {
  0% {
    top: 100%;
  }
  40% {
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(-135deg);
  }
}

@keyframes bot-rotate-reverse {
  100% {
    top: 100%;
  }
  40% {
    top: 50%;
  }
  0% {
    top: 50%;
    transform: rotate(-135deg);
  }
}

/* SIDEBAR */
.page__sidenav {
  grid-area: sidenav;
  background-color: var(--bg-secondary);
  position: relative;
  display: grid;
  place-content: center;
  gap: 30px;
}

.page__sidenav.close .nav__txt,
.page__sidenav.close .profile__img {
  display: none;
}

.page__sidenav.open svg {
  display: none;
}

.profile__img {
  background-color: aliceblue;
  width: 50%;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: calc(var(--header-height) + 20px);
  transform: translateX(-50%);
  border-radius: 50%;
}

.social__links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: calc(var(--pg-padding) / 2);
}

.social__links a {
  font-size: 1.6rem;
  color: var(--txt-primary);
  transition: transform .5s
}

.social__links a:hover {
  transform: scale(1.2);
}

.nav {
  color: var(--txt-primary);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__active {
  color: var(--txt-neon);
}